/*------------------------------------*\
    $SITE   
\*------------------------------------*/
html {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

body {
	background-color: $bgcolor;
}

.frame {
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 500px;
}
.author__image {
	width: 50px;
}

.author__post-info {
	margin-bottom: 2%;
}

.avatar {
	width: 44px;
	border-radius: 10%;
	margin-right: 1%;
}

.window {
	background-color: #fff;
}

.window__header {
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 1%;
	border-bottom: 2px solid $bgcolor;
}
.window__content {
	padding-top: 3%;
	padding-bottom: 3%;
}


.parrafo {
	font-size: 1.7em;
}
.container--buttons {
	margin: 1% 0;
}
.mylabel {
	background: transparent;
	color: $lightgrey;
	border: 1px solid $lightgrey;
	padding: .2% 1%;
}
.badge__bg {
	background-color: $money;
	font-size: .75em;
	border-radius: 50%;
	padding-top: .2%;
}
.money {
	border: 0;
	color: $money;
	font-weight: bold;
}

.now {
	color: $now;
}
.author__image--xs {
	width: 30px;
	margin-left: 0;
	margin-right: 5%;


}

.comment {
	padding: 3% 6%;
	border-radius: 20px;
	background: transparent;
	border-color: $links-featured;
	color: $links-featured;
	margin-bottom: 1%;
}