
/*------------------------------------*\
    $COLORS     
\*------------------------------------*/

$links-featured: #2889d8;
$money: #f3ab4c;
$now: #f64f5a;
$lightgrey: #aaa;
$textcolor: #333;
$bgcolor: #f5f5f5;